<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="bots" title="msg://ru.javaboys.wootify/menu.bots.title" opened="true">
        <item view="Bot.list" title="msg://ru.javaboys.wootify.view.bot/botListView.title"/>
        <item view="BotEvent.list" title="msg://ru.javaboys.wootify.view.bot/botEventListView.title"/>
    </menu>

    <menu id="tradings" title="msg://ru.javaboys.wootify/menu.tradings.title" opened="true">
        <item view="TraderView" title="msg://ru.javaboys.wootify.view.trader/traderView.title"/>
        <item view="Position_.list" title="msg://ru.javaboys.wootify.view.position/positionListView.title"/>
        <item view="Order_.list" title="msg://ru.javaboys.wootify.view.order/orderListView.title"/>
    </menu>

    <menu id="settings" title="msg://ru.javaboys.wootify/menu.settings.title" opened="true">
        <item view="User.list" title="msg://ru.javaboys.wootify.view.user/UserListView.title"/>
        <item view="Account.list" title="msg://ru.javaboys.wootify.view.account/accountListView.title"/>
        <item view="ApiKey.list" title="msg://ru.javaboys.wootify.view.apikey/apiKeyListView.title"/>
        <item view="Symbol.list" title="msg://ru.javaboys.wootify.view.symbol/symbolListView.title"/>
    </menu>

</menu-config>
